.js-plotly-plot .plotly .main-svg .draglayer {
    cursor: pointer !important;
}
.js-plotly-plot .plotly .user-select-none {
    margin: 50px auto 0;
}
button#training-button {
    display: block;
    margin: 20px auto 20px;
}